*{
    margin:10;
    padding:0;
}
html{
    background: rgb(2,0,36);

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:white;
}
body{
    font-family:sans-serif;
    font-size: 300;
}
section{
    height:60vh;
}
#section1{
    height:40vh;
    width:0 30px;
}
html{
    scroll-behavior:smooth;
    pointer-events: painted;
}
p{
    color:white;
}
a,
.btn{
    transition: all 300ms,ease;
} 
nav,
.nav-link{
    display:flex;
}
nav{
    justify-content:space-around;
    text-align:center;
    height: 17vh;
    display:flex;
}
.nav-link{
    gap:2rem;
    list-style: none;
    font-size: 2rem;
    display: flex;
}
a{
    text-decoration:none;
    color:white;
    text-decoration-color: white;
}
a:hover{
    color:grey;
    text-size-adjust:2rem;
    cursor: pointer;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
.logo:hover{
    cursor:auto;
}
#hamburger{
    display: none;
}
.hamburger-menu{
    position:relative;
    display:inline-block;

}
.hamburger-icon{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:24px;
    width:32px;
    cursor:pointer;
    border-color: black;
}
.hamburger-icon span{
    width:100%;
    height:2px;
    background-color: black;
    transition:all 0.3 ease-in-out;
}
.menu-link{
    position: absolute;
    top:100%;
    right:0;
    background-color: white;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition:all 0.3 ease-in-out;
}
.menu-link a{
    display: block;
    padding:10px;
    text-align:center;
    font-size: 1.5rem;
    color:black;
    text-decoration: none;

}
.menu-link li{
    list-style:none;
}
.menu-link.open{
    max-height:300px


}
.hamburger-icon.open span:first-child{
    transform:rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity:0;
}
.hamburger-icon.open span:last-child(2){
    transform:rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon.span:first-child{
    transform:none;
}
.hamburger-icon.span:first-child{
    opacity:1;
}
.hamburger-icon.span:first-child{
    transform:none;
}
#social_container{
    display:flex;
    margin: auto 0;
    justify-content:center;
    margin-top: 2rem;
    gap:2rem;
}
.icon{
    height:2rem;
    width:2rem;
    gap:3rem;
    display:flex;
    justify-content: center;
    align-items:center;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.btn_container{
    display:flex;
    justify-content:center;
    gap:1rem;
}
.btn_container_2:hover,
.btn_container_1:hover{
    cursor:pointer;
    color: gray;
}
.btn_container_1,
.btn_container_2{
    background:black;
    background-size: 50px;
    border-radius: 20px;
    color:aliceblue;
    padding: 15px 32px;
    font-size: medium;
}
.btn_container_2:hover{
    background: black;
}
.btn_container_1{
    border:white;
}
.section_text_p1{
    justify-content:center;
    display:flex;
    font-size: 1.5rem;
}
.section_text_p2{
    justify-content:center;
    display:flex;
    font-size: 1.5rem;

}
#about{
    height:150vh;
}
.hello{
    justify-content:center;
    display:flex;
    font-size: 2rem;
}
h3{
    font-size: 34px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{
    font-size: 20px;
    font-style: normal;
    line-height: 1.8;
}
.skills{
    height:40px;
    width:1000px;
    background:red;
    color:blueviolet;
}
#section2{
    height:100vh;
}
#project_text{
    display:flex;
    justify-content: space-between;
    gap:20px;
    float:left;
    width:48%;
    margin:1%;
}
.project_text{
    flex:1;
    padding:10px;
    border:4px solid black;
    fill: black;
    color: aliceblue;
}

.tech{ 
    margin-top: 250px;
    width:160px;
    height:160px;
    position:relative;
 } 
.outer{
    width:160px;
    height:160px;
    border-radius: 125px;
    padding:20px;
    box-shadow:6px 6px 10px -1px gray;
}
.inner{
    width:120px;
    height:120px;
    border-radius: 125px;
    padding:20px;
    box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0.2),inset -4px -4px 6px -1px rgba(255,255,255,1),
    -0.5px -0.5px 0px rgba(0,0,0,0.15),0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.02);
    
}
#font{
    font-weight: 600px;
}
circle{
    fill:none;
    stroke:rgb(228, 25, 174);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 0;
    animation:anim 2s linear forwards;
    cx:60;
    cy:50;
    r:50;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 120;
    }
}
svg{
    display:block;
    margin:auto;
    height:120px;
    width:120px;
}
#skills{
    padding:40px;
}
.skillbadges{
    display:inline-flex;
    flex-wrap:wrap;
    gap:10px;
}
.badge{
    background-color: rgb(255, 0, 174);
    color:white;
    padding:10px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
}
.skills{
    color: bisque;
}
#contact-container{
    padding: 20px;
    display:flex;
    justify-content: center;
}
.icon1{
    margin-top: 9px;
    margin-right: 10px;
    padding:20px;
    max-width:20px !important;
    max-height:20px;
    gap:20px;
    flex-direction:row;
    display:flex;
    justify-content: left;
    align-items:left;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.project_text
{
       animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}